body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    min-height: 100vh;   /* body ocupa toda la pantalla */
    display: flex;
    flex-direction: column; /* organiza en columna */
    justify-content: space-between; /* empuja el footer */
    background-image: url('imagen/fondo.jpg'); 
    background-repeat: repeat;
    overflow-x: hidden;
}

.container {
    text-align: center;
    width: 100%;
    margin-top: 40px; /* sube un poco el menú */
}

.content-box {
    background-color: #F3F3F3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    border: 2px solid #ddd;
    max-width: 900px;
    margin: 0 auto;
    padding-bottom: 30px;
}

h1 {
    color: #333;
    font-size: 30px;
    margin-bottom: 15px;
}

.options {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px; 
}

.button {
    display: flex;
    justify-content: center;  
    align-items: center;      
    text-align: center;       
    width: 100%;              
    max-width: 190px; /* más compactos */
    padding: 12px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: transform 0.2s ease, opacity 0.5s ease;
    box-sizing: border-box;   
    box-shadow: 0 5px 10px rgba(0,0,0,0.3); 
}

.button:hover {
    opacity: 0.9;
    transform: translateY(-4px); /* efecto “salto” */
}

/* ====== Pie de página ====== */
footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    width: 100%;
    font-size: 13px;
    font-style: italic;
    margin-top: auto; /* se queda al fondo */
}

/* Línea de separación degradada azul */
footer::before {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background: linear-gradient(to right, transparent, #3498db, #00b8d9, transparent);
    margin-bottom: 6px;
    border-radius: 2px;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}

footer p {
    margin: 0;
    color: #333;
}

.signature {
    margin-top: 4px;
    color: #555;
    font-size: 14px;
    font-style: italic;
}
